<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
	<group name="Path">
		<description>The base directory is the homedirectory of the frontend. All other paths are relative to it.</description>
		
		<item name="BasePath" title="Base directory" type="directory"></item>
		<item name="Image" type="directory">image</item>
		<item name="Video" type="directory">video</item>
		<item name="Temp" type="directory">tmp</item>
	</group>
	
	<group name="Files">
		<description>All file paths are either relative to BasePath or an absolute path.</description>
		
		<item name="BinaryPath" title="Executable" type="file"></item>
		<item name="BaseLog" title="Logfile" type="file">slideshow.log</item>
		<item name="ActivityLog" title="Activity logfile" type="file">activity.log</item>
		<item name="PID" type="file">slideshow.pid</item>
		<item name="MOTD" type="file" description="Message of the day">motd</item>
		<item name="convert" title="ImageMagick convert" type="file" description="ImageMagick is used to scale and convert the slides"></item>
	</group>
	
	<group name="Apparence">
		<description></description>
		
		<item name="Background" type="file" description="Background image used when creating text slides"></item>
		<item name="Font" type="file" description="Font used when creating text slides"></item>
		<item name="Resolution" type="resolution" description="Resolution of the daemon">800x600</item>
		<item name="VirtualResolution" title="Virtual resolution" type="resolution" description="If the display forces another resolution (e.g some widescreen projectors) set this to that resolution"></item>
		<item name="TransitionTime" title="Transition time" type="float" description="Time in sec it takes to change slide">3.0</item>
		<item name="SwitchTime" title="Switch time" type="float" description="Time in sec each slide will be shown">10.0</item>
	</group>
	
	<group name="Database">
		<description>Database settings. Leave the password blank unless you need to change it.</description>
		
		<item name="Username" type="string"></item>
		<item name="Password" type="password"></item>
		<item name="Hostname" type="string">localhost</item>
		<item name="Name" type="string"></item>
	</group>
	
	<group name="Slideshow">
		<description>These settings only affects the webGUI.</description>
		
		<item name="Title" type="string" description="WebGUI title">Slideshow</item>
	</group>
</settings>
