<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 * 
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>
<?

$base_path = "/path/to/data_folder";
$image_dir = $base_path."/image";
$video_dir = $base_path."/video";
$tmp_dir = "/path/to/tmp_folder";

$app_dir  = "/path/to/app_dir";
$binary   = $app_dir."/slideshow";
$log_file = $app_dir."/slideshow.log";
$pid_file = $app_dir."/slideshow.pid";

$db_user = '';
$db_pass = '';
$db_host = 'localhost';
$db_name = 'slideshow';

?>