<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 *
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>

	<div id="content">

		<h2>Settings</h2>
		
		<div class="conf">
			<form id="form" method="post" action="/index.php/configuration/save">		
<? foreach ( $settings as $name => $group ){ ?>
				<fieldset title="<?=$name?>">
					<legend><?=$name?></legend>

<? if ( !empty($group->description) ){ ?>
					<p><?=$group->description?></p>
<? } ?>
<? if ( $name != 'Env' ){ ?>
<? foreach ( $group->items as $itemname => $item ){ ?>
					<label for="<?=$itemname?>">
						<?=$item->title?>
						<? if ( isset($item->description) ){ ?>

						<span><?=$item->description?></span><? } ?>

					</label>
<? switch ($item->type){
	case 'string':
	case 'directory':
	case 'file':
	case 'int':
	case 'float': ?>
					<input type="text" name="<?=$item->name?>" value="<?=$item->value?>" />
<?					break;
	case 'password': ?>
					<input type="password" name="<?=$item->name?>" value="" />
<?					break;
	case 'resolution':
			// If we have a list of available resolutions for the display we only
			// list those, otherwise the user must manually enter the resolution.
			$selected = isset($item->value) ? sprintf("%dx%d", $item->value[0], $item->value[1]) : NULL;
			if ( $resolution ){?>
					<select name="<?=$item->name?>"><?
					foreach ($resolution as $r){
						if ( $select && $r == $selected ){ ?>

						<option selected="selected"><?=$r?></option><?
						} else { ?> 
						<option><?=$r?></option><?
						}
				} ?>

					</select>
<?			} else { ?>
					<input type="text" name="<?=$item->name?>" value="<? echo $selected ? $selected : "" ?>" />
<?			}
			break;
			
		default:
			echo "bajs";
	}?>
					<br/>

<? } ?>
<? } else { ?>
<? foreach ( $group as $key => $value ){ ?>
					<?=$key?>=<?=$value?><br/>
<? } ?>					
<? } ?>
				</fieldset>
<? } ?>
			</form>
		</div>
  		
	</div>
