p, h1, form, button{border:0; margin:0; padding:0;}

.conf{
	padding: 14px;
	width: 750px;
	font-family: sans-serif;
}

.conf br {
	clear: left;
}

.conf p {
	float: right;
	width: 250px;
	font-size: 0.65em;
	padding: 10px;
	border: 1px solid blue;
	text-align: justify;
}

label, label span {
	width: 200px;
}

label {
	padding-top: 5px;
	display: block;
	font-weight: bold;
	text-align: right;
	float: left;
}

label span {
	color:#444;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	margin-bottom: 10px;
}

input, select {
	float:left;
	font-size:12px;
	padding:4px 2px;
	border: solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}