<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
	<title>Queue</title>
	
	<style>
		#content ul {
			list-style-type:none;
			margin-left: 1em;
			padding:0;
		}
		#content li {
			background:url('/static/icon/page_white_edit.png') left center no-repeat;
			padding-left: 20px; 
			margin:0;
		}
	</style>
	
	<script type="text/javascript">// <![CDATA[
	
	$.editable.addInputType('rename', {
		element : function(settings, original) {
			var input = $('<input />');
			
			$(this).append(input);
			return(input);
		},
		buttons: function(settings, original) {
			var submit = $('<button type="submit" />');
			submit.html(settings.submit);
			
			var cancel = $('<button type="cancel" />').click(function(event) {
				original.reset();
				return false;
			});
			cancel.html(settings.cancel);
			
			var remove = $('<button type="remove" />').click(function(event) {
				original.reset();
				
				$.getJSON('/queue/ajax/remove/' + original.id.substr(6), function(success) {
					if ( success ){
						$(original.parentNode).remove();
					}
				});
				
				return false;
			});
			remove.html(settings.remove);
			
			$(this).append(submit);
			$(this).append(cancel);
			$(this).append(remove);
		}
	});
	
	
	$(document).ready(function() {
		$('.edit').editable('/queue/ajax/rename', { 
			type : 'rename',
			tooltip   : "Click to edit...",
			cancel    : 'Cancel',
			submit    : 'OK',
			remove    : 'Remove',
			style   : 'display: inline'
		});
	});
	
	// ]]></script>

</head>

<body>
	<div id="breadcrumb">
		<h2><a href="/">Slideshow</a> &gt; Manage queue</h2>
	</div>
	
	<script type="text/javascript">// <![CDATA[
		document.write('<p>Click on the queue you wish to edit.</p>');
	// ]]></script>
	
	<ul>
		<li py:for="queue in queues" py:attrs="queue.id > 1 and {'style': ''} or {'style': 'background: none; color: grey;'}">
			<span py:attrs="queue.id > 1 and {'class': 'edit'} or {}" id="queue_${queue.id}">${queue.name}</span>
			<noscript py:if="queue.id > 0">
				(<a href="/queue/rename/${queue.id}">Rename</a>, <a href="/queue/delete/${queue.id}">Delete</a>)
			</noscript>
		</li>
	</ul>
	
	<form action="/queue/add" method="post">
		<input type="text" name="name" />
		<input type="submit" name="submit" value="Create" />
	</form>

</body>

</html>