<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
	<title>Queue</title>
</head>

<body>
	<div id="breadcrumb">
		<h2><a href="/">Slideshow</a> &gt; <a href="/queue">Manage queue</a> &gt; Rename ${queue.name}</h2>
	</div>

	<form action="/queue/rename/${queue.id}" method="post">
		<input type="text" name="name" value="${queue.name}" />
		<input type="submit" name="submit" value="Rename" />
	</form>

</body>

</html>