<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 *
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>
	
<? if ( isset($motd) ){ ?>
	<h2>MOTD</h2>
	<div id="motd">
		<?=$motd?>
	</div>
<? } ?>

	<div id="content">
	
		<div id="breadcrumb">
			<h2><a href="/index.php/">Slideshow</a></h2>
		</div>
		
		<h2>Current slides</h2>
	
<? foreach ( $collection as $bin ){ ?>
		<div class="binwrapper">
			<span class="title"><?=$bin->name()?><? if ( $bin->id() != 0 ){ if ( $bin->id() == $active_bin){ ?> (active)<? } else { ?> (<a href="/index.php/slides/activate_bin/<?=$bin->id()?>">set as active</a>)<? }} ?></span><br/>
			<div class="bin" id="bin_<?=$bin->id()?>">
<?	foreach ( $bin as $slide ){ ?>
				<div class="slide" id="slide_<?=$slide->id()?>">
					<!--<a href="<?=$slide->image_url()?>">-->
<? if ( $slide->active() ){ ?>
						<img class="slide" src="<?=$slide->image_url()?>.thumb.jpg" alt="" />
<? } else { ?> 
						<img style="background:url('<?=$slide->image_url()?>.thumb.jpg');" src="/css/disabled.png" alt="" />
<? } ?>
					<!--</a>-->
					<div class="menu">
						<!--<span class="move">Move</span>-->
						<span class="zoom"><a href="<?=$slide->image_url()?>">Fullsize</a></span>
						<span class="delete"><a href="/index.php/slides/delete?id=<?=$slide->id()?>">Delete</a></span>
					</div>
				</div>
<? } ?>
			</div>
			<br style="clear: both;" />
		</div>

<? } ?>
	</div>

	<script type="text/javascript">
		bins = [<? $first = true; foreach ( $collection as $i => $bin ){ echo $i > 0 ? ", " : "", "\"#bin_{$bin->id()}\""; } ?>];
	
<? foreach ( $collection as $bin ){ ?>
		$("#bin_<?=$bin->id()?>").sortable({
			connectWith: bins,
			placeholder: 'slide_placeholder',
			opacity: 0.5,
			/*handle: ".move",*/
			scrollSensitivity: 50,
			scrollSpeed: 5,
			/*cursor: "move"*/
			
			stop: function(){
			}
		});
<? } ?>

	</script>
