<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 *
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>
	
<? if ( isset($motd) ){ ?>
	<h2>MOTD</h2>
	<div id="motd">
		<?=$motd?>
	</div>
<? } ?>

	<div id="content">
	
		<div id="breadcrumb">
			<h2><a href="<?=href()?>">Slideshow</a></h2>
		</div>
		
		<h2>Current slides</h2>

		<div id="empty_notice" class="notice" style="display: <? echo $collection[$active_bin]->nr_of_slides() == 0 ? "block" : "none"; ?>">
			<script type="text/javascript">
				document.write("\n\t\t\tThe current active queue is empty. You can create some slides and move them into the active queue.");
			</script>
			<noscript>
<? if ( $collection[$active_bin]->nr_of_slides() == 0 ) { ?>
				The current active queue is empty. You can create some slides and move them into the active queue.
<? } ?>
			</noscript>
		</div>
<? /* These br's is to force linebreaks in non-graphics browsers like links */ ?>
		<br style="display:none" />
		<br style="display:none" />
		
<? foreach ( $collection as $bin ){ ?>
		<div class="binwrapper">
			<span class="title"><?=$bin->name()?><? if ( $bin->id() != 0 ){ if ( $bin->id() == $active_bin){ ?> (active)<? } else { ?> (<a href="<?=href('slides', 'activate_bin', $bin->id() )?>">set as active</a>)<? }} ?></span><br/>
			<div class="bin" id="bin_<?=$bin->id()?>">
<?	foreach ( $bin as $slide ){ ?>
				<div class="slide" id="slide_<?=$slide->id()?>">
<? if ( $slide->active() ){ ?>
					<img class="slide" src="<?=$slide->image_url()?>.thumb.jpg" title="<?=$slide->title()?>" alt="<?=$slide->title()?>" />
<? } else { ?>
					<img class="slide" style="background:url('<?=$slide->image_url()?>.thumb.jpg');" src="/css/disabled.png" title="<?=$slide->title()?>" alt="<?=$slide->title()?>" />
<? } ?>
					<div class="menu">
						<span class="zoom"><a href="<?=$slide->image_url()?>">Full</a></span>
<? if ( $slide->type() == 'text' ){ ?>
						<span class="edit"><a href="<?=href('slides', 'edit', $slide->id())?>">Edit</a></span>
<? } ?>
<? if ( $slide->active() ){ ?>
						<span class="hide"><a href="<?=href('slides', 'deactivate', $slide->id())?>">Hide</a></span>
<? } else { ?>
						<span class="show"><a href="<?=href('slides', 'activate', $slide->id())?>">Show</a></span>
<? } ?>
						<span class="delete"><a href="<?=href('slides', 'delete', $slide->id())?>">Delete</a></span>
						
						<noscript>
							<form action="<?=href('slides', 'move', $slide->id())?>" method="post">
								<select name="to_bin">
<? foreach( $available_bins as $id => $name ){ ?>
									<option value="<?=$id?>"<? if ( $id == $bin->id() ){ ?> selected="selected"<? } ?>><?=$name?></option>
<? } ?>
						        </select>
						        <input type="submit" value="Move" />
							</form>
						</noscript>
					</div>
				</div>
<? } ?>
			</div>
			<br style="clear: both;" />
		</div>
<? /* These br's is to force linebreaks in non-graphics browsers like links */ ?>
		<br style="display:none" />
		<br style="display:none" />
		
<? } ?>
	</div>

	<script type="text/javascript">
		var bins = [<? $first = true; foreach ( $collection as $i => $bin ){ echo $i > 0 ? ", " : "", "\"#bin_{$bin->id()}\""; } ?>];
		var notice_visible = <? echo $collection[$active_bin]->nr_of_slides() == 0 ? "true" : "false"; ?>;
		
<? foreach ( $collection as $id => $bin ){ ?>
		$("#bin_<?=$bin->id()?>").sortable({
			connectWith: bins,
			placeholder: 'slide_placeholder',
			tolerance: "pointer",
							
			update: function($e, $ui){
				var list = $(this).sortable('toArray');
				$.ajax({
					type: "POST",
					url: "<?=href('slides', 'moveajax')?>",
					data: "bin=" + $(this).attr('id') + "&slides=" + list 
				 });
<? if ( $id == $active_bin ){ ?>
				var n = list.length;
				if ( notice_visible && n > 0 ){
					notice_visible = false;
					$("#empty_notice").fadeOut("slow");
				}
				if ( !notice_visible && n == 0 ){
					notice_visible = true;
					$("#empty_notice").fadeIn("slow");
				}
<? } ?>
			}
		});
<? } ?>

	</script>
