#log {
	font-family:	monospace;
	background:	#ccc;
	padding:	5px;
}

#motd {
	border:		3px solid red;
	text-align:	center;
	padding:	1em;
}

#breadcrumb {
	font-size: 0.3em;
	color: #aaa;
}

#breadcrumb a {
	color: #aaa;
}

#menu {
	font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;

	padding: .2em 0;
	border-bottom: 1px solid black;
}

#menu :link, #menu :visited {
	padding: .20em 20px;
	margin: 0;
	text-decoration: none;
	background: white;
	border: 1px solid black;
}

#menu li :hover, #menu li :active {
	color: #00f;
}

#menu .bajs :link, #menu .bajs :visited {
	border-bottom: 1px solid white;
}

#menu a {
	color: #000;
}

#menu .first {
	padding-left: 10px;
}


#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

#menu li {
	display: inline;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

#menu h2 {
	display: none;
}

.daemonstatus {
	font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
	float: right;
	padding: .20em 20px .10em 20px;
	margin: 0;
	white-space: nowrap;
	background: white;
	border: 1px solid black;
}

#content {
	clear:both;
	background: white;
	margin: 0;
	padding: 10px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.binwrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 0px 10px 10px 10px;
}

.binwrapper .title {
	margin: 0 0 0 10px;
	padding: 0 10px;
	background: white;
	position: relative; top: -10px;
	display: inline;
}

.bin {
	float: left;
	width: 100%;
	min-height: 50px;
}

.bin.hover {
	background: #ccc;
}

.slide {
	float: left;
	margin-right: 10px;
}

img {
	border:		1px solid black;
	margin-bottom: 5px;
}

.slide .menu {
	padding: 5px;
	font-size:	0.8em;
	width: 191px;
	border:1px solid #aaa;
}

.slide .menu a {
	text-decoration: none;
	color: #00f;
}

.slide .menu a:hover {
	text-decoration: underline;
}

.slide .move {
	cursor:		move;
}

.slide .move:before {
	content: url('/icon/arrow_out.png');
}

.slide .zoom:before {
	content: url('/icon/zoom.png');
}

.slide .delete:before {
	content: url('/icon/delete.png');
}

.slide_placeholder {
	border: 3px dashed #666;
}

h1 {
	margin: 0;
}

h2 { 
	margin: 0;
}
