body {
	background:	#ffc;
}

img { 
	border:		1px solid black;
}

.slide { 
	float:		left;
}

.space {
	clear:		both;
	height:		1px;
}

#log { 
	font-family:	monospace;
	background:	white;
	padding:	5px;
}

#motd { 
	border:		3px solid red;
	text-align:	center;
	padding:	1em;
}

#install {
	width:		500px;
}

#install .field_description {
	display:	block;
	width:		300px;
	text-align:	right;
	float:		left;
	font-size:	0.7em;
}

#install label {
	display:	block;
	width:		300px;
	text-align:	right;
	float:		left;
}

#install input {
	float:		right;
}
