body {
	background:	#ffc;
}

img { 
	border:		1px solid black;
}

.slide { 
	float:		left;
}

#log { 
	font-family:	monospace;
	background:	white;
	padding:	5px;
}

#motd { 
	border:		3px solid red;
	text-align:	center;
	padding:	1em;
}