<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 * 
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>
	<div id="content">
	
		<div id="breadcrumb">
			<h2><a href="/index.php/">Slideshow</a> &gt; Video</h2>
		</div>
		
		<p>To upload a video please use [s]ftp or mount the drive with nfs. Files in the video subfolder gets listed here.</p>
		<p class="notice">WARNING: Even if the system handles multiple requests (items are queued) there is no way of telling how long the queue is and most importantly <b>there is now way to remove items from the queue!<b/>.</p>
	
		<div id="videolist">
<? foreach ( $files as $file ){ ?>
			<div class="videoitem">
				<img src="/<? echo video_thumbnail($file); ?>" alt="" width="50" height="50" /><?=$file?> [<a href="/index.php/video/play?name=<? echo urlencode($file); ?>">play</a>]
			</div>
<? } ?>
		</div>
  
	</div>
