<br/>
<b>Fatal error</b>: <?=$Message?><br/>
<br/>
Stack:</br>
<ul>
<? foreach ( $Stack as $line ){ ?>
  <li><?=$line['file']?>:<?=$line['line']?></li>
<? } ?>
</ul>
<br/>
Raw data:<br/>
<pre>
<? print_r($Stack); ?>
</pre>
