<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 *
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */

function write_availability( $var, $ok = 'Available', $fail = 'Unavailable' ){
	echo '<span class="', $var ? 'ok' : 'fail', '">', $var ? $ok : $fail, '</span>';
}

?>
	<h1>Slideshow &gt; Install<? if ( $step > 0 ){ ?> &gt; Step <?=$step?><?}?></h1>

	<div id="install">
		<ul class="step">
			<li<?=$step==0?" class=\"current_step\"":""?>>Introduction</li>
			<li<?=$step==1?" class=\"current_step\"":""?>>Requirements</li>
			<li<?=$step==2?" class=\"current_step\"":""?>>Path</li>
			<li<?=$step==3?" class=\"current_step\"":""?>>Database</li>
			<li<?=$step==4?" class=\"current_step\"":""?>>Apparence</li>
			<li<?=$step==5?" class=\"current_step\"":""?>>Summary</li>
		</ul>

<? switch( $step ){ ?>
<? case 0: ?>
		<h2>Welcome to Slideshow PHP Frontend installation</h2>

		<p>With this option, it is possible to install Slideshow onto your server.</p>
		<p>In order to proceed, you will need your database settings. If you do not know your database settings, please contact your host and ask for them. You will not be able to continue without them. You need:</p>

		<ul>
			<li>The Database server hostname - the address of the database server.</li>
			<li>The Database server port - the port of the database server (most of the time this is not needed).</li>
			<li>The Database name - the name of the database on the server.</li>
			<li>The Database username and Database password - the login data to access the database.</li>
		</ul>

		<p><b>Note</b>: For security reasons, you should make sure that the database file is not stored in a location accessible from the web.</p>
		<p>Slideshow currently supports the following databases:</p>

		<ul>
			<li>MySQL</li>
		</ul>

		<p>Only those databases supported on your server will be displayed.</p>
		<p>Proceed to <a href="/index.php/install/step/1">Requirements</a>.</p>
<?
	break;
	case 1:
?>

<? if ( !$writable_config ){ ?>
		<div class="notice">
			<p> `<?=$path?>' is not writable, the configuration file will not be automaticly written. You will need to save and upload the configuration manually.</p>
		</div>
<? } ?>

		<form>
			<fieldset>
				<legend>Requirements</legend>

				<label>
					MySQL
				</label>
				<span class="field_notice"><?write_availability($have_mysql)?></span>

				<label>
					JSON
				</label>
				<span class="field_notice"><?write_availability($have_json)?></span>

				<label>
					GD
				</label>
				<span class="field_notice"><?write_availability($have_gd)?></span>

				<label>
					ImageMagick
				</label>
				<span class="field_notice"><?write_availability($have_imagick, 'Available ('.$imagick_path.')')?></span>
			</fieldset>
		</form>

		<p><a href="/index.php/install/step/1">Retry</a>. Proceed to <a href="/index.php/install/step/2">Path configuration</a>.</p>
<?
	break;
	case 2:
?>
		<form name="configuration" action="/index.php/install/submit/2" method="post">
			<fieldset>
				<legend>Paths</legend>

				<label>
					Base directory
					<span class="field_description">Absolute path to the root directory, eg `/home/slideshow'. This directory should be writable and empty. For security reasons this directory should not be accessable from the web.</span>
				</label>
				<input type="text" name="basepath" id="basepath" value="<?=$basepath?>" />
				<? if ( !$basepath_found){ ?><span class="field_notice">The specified directory could not be found.</span>
				<? } elseif ( !$basepath_writable ){ ?><span class="field_notice">The specified directory could not be written to, check the permissions.</span>
				<? } ?>

				<label>
					Slideshow binary
					<span class="field_description">Absolute path to the slideshow binary.</span>
				</label>
				<input type="text" name="binpath" id="binpath" value="<?=$binpath?>" />
				<? if ( !$binpath_found){ ?><span class="field_notice">The specified executable could not be found or no permission to run.</span>
				<? } ?>
			</fieldset>
		</form>

		<p>Proceed to <a href="javascript:document.configuration.submit()">Database setup</a>.</p>
<?
	break;
	case 3:
?>
<? if ( isset( $connection_failed ) ){ ?>
		<div class="notice">
			Could not connect to the database, the error returned was: <?=$connection_failed?>.
		</div>
<? } ?>

		<form name="configuration" action="/index.php/install/submit/3" method="post">
			<fieldset>
				<legend>Database setup</legend>

				<label>
					Host[:port]
					<span class="field_description">Database host, port is optional.</span>
				</label>
				<input type="text" name="database_host" id="database_host" value="<?=$database_host?>" />

				<label>
					Database
					<span class="field_description">Database name.</span>
				</label>
				<input type="text" name="database_name" id="database_name" value="<?=$database_name?>" />

				<label>
					Username
					<span class="field_description">&nbsp;</span>
				</label>
				<input type="text" name="database_username" id="database_username" value="<?=$database_username?>" />

				<label>
					Password
					<span class="field_description">Keep in mind that the password will be stored in plaintext.</span>
				</label>
				<input type="password" name="database_password" id="database_password" value="<?=$database_password?>" />
			</fieldset>
		</form>

		<p>Proceed to <a href="javascript:document.configuration.submit()">Apparences</a>.</p>
<?
	break;
	case 4:
?>
		<form name="configuration" action="/index.php/install/submit/4" method="post">
			<fieldset>
				<legend>Apparences</legend>

				<label>
					Resolution
					<span class="field_description">width x height, eg 800x600. For best performance and quality keep this the same as the X11 resolution.</span>
				</label>
				<input type="text" name="resolution" id=""resolution"" value="<?=$resolution?>" />
				<? if ( isset($valid_resolution) && !$valid_resolution ){ ?><span class="field_notice">Invalid resolution.</span>
				<? } ?>

				<label>
					Background
					<span class="field_description">Optional: Absolute path to the background used when generating static images. The file will be copied into the base directory.</span>
				</label>
				<input type="text" name="background" id=""background"" value="<?=$background?>" />
				<? if ( isset($valid_background) && !$valid_background ){ ?><span class="field_notice">The specified could not be found or read.</span>
				<? } ?>

				<label>
					Text font
					<span class="field_description">Optional: Absolute path to the font used when generating static images. The file will be copied into the base directory.</span>
				</label>
				<input type="text" name="font" id=""font"" value="<?=$font?>" />
				<? if ( isset($valid_font) && !$valid_font ){ ?><span class="field_notice">The specified could not be found or read.</span>
				<? } ?>
			</fieldset>
		</form>

		<p>Proceed to <a href="javascript:document.configuration.submit()">Summary</a>.</p>
<?
	break;
	case 5:
?>

		<p>The following configuration will be created. Note that some fields has been autogenerated or uses default values, these may be changed manually later.</p>
  		<pre class="summary">
<?=$json?>
		</pre>
		<p>Proceed to <a href="/index.php/install/submit/5">Summary</a>.</p>
<?
	break;
	case 6:
?>
		<p>To finalize the installation you need to download the <a href="/index.php/install/download">configuration</a> and put it in the root directory (<?=$path?>). <a href="/index.php/install/step/6">Retry</a>.</p>
<?
	break;
}
?>

	</div>
