<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 *
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>
	<h1>Slideshow</h1>

<? if ( isset($motd) ){ ?>
	<h2>MOTD</h2>
	<div id="motd">
		<?=$motd?>
	</div>
<? } ?>

	<h2>Menu</h2>

	<ul>
		<li><a href="/index.php/slides/upload">New slide</a></li>
		<li><a href="/index.php/video">Play video</a></li>
		<li><a href="/index.php/maintenance">Maintenance</a></li>
	</ul>

	<h2>Current slides</h2>

<?
foreach ( $collection as $bin ){ ?>
	<h3>Bin <?=$bin->id()+1?><? if ( $bin->id() == $active_bin){ ?> (active)<? } ?></h3>
<?	foreach ( $bin as $slide ){ ?>
	<div class="slide">
		<a href="<?=$slide->image_url()?>">
			<img src="<?=$slide->image_url()?>" alt="" width="200" height="200" />
		</a><br/>
		[<a href="/index.php/slides/delete?id=<?=$slide->id()?>">Delete</a>]
		<? if ( $slide->active() ){ ?>[<a href="/index.php/slides/deactive/<?=$slide->id()?>">Deactive</a>]<? } ?>
	</div>
<? } ?>

	<p><br style="clear: both;" /></p>

<? } ?>