<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 * 
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>
	
	<div id="content">
	
		<div id="breadcrumb">
			<h2><a href="/index.php/">Slideshow</a> &gt; Upload slide</h2>
		</div>
		
		<h2>Image</h2>

		<form action="/index.php/slides/submit_image" method="post" enctype="multipart/form-data">
			<fieldset>
				<input type="file" id="filename" name="filename" />
				<input type="submit" value="Upload" />
			</fieldset>
		</form>

		<h2>Text</h2>

		<form action="/index.php/slides/upload" method="post" accept-charset="utf-8">
			<fieldset>
				<table>
					<tr valign="top">
						<td>
							<label for="title">Title</label><br/>
							<input type="text" id="title" name="title" size="70" value="<?=$title?>" /><br/>
							<label for="content">Content</label><br/>
							<textarea id="content" name="content" cols="60" rows="15"><?=$content?></textarea><br/>
							<input type="submit" name="submit" value="Preview" />
							<input type="submit" name="submit" value="Upload" /><br/>
						</td>
						<td>
							<label for="title">Alignment</label><br/>
							<input type="radio" name="align" value="0" <?=$align==0?"checked=\"checked\"":""?> />Left<br/>
							<input type="radio" name="align" value="1" <?=$align==1?"checked=\"checked\"":""?> />Center<br/>
							<input type="radio" name="align" value="2" <?=$align==2?"checked=\"checked\"":""?> />Right<br/>
						</td>
					</tr>
				</table>

<? if ( $image != NULL ) { ?>
				<img width="800" height="600" src="<?=$image?>" />
<? } ?>
			</fieldset>
		</form>
	</div>