<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 * 
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>
  <h1><a href="/index.php/">Slideshow</a> &gt; Slides</h1>

  Status: <? switch ( $status ){
	case 0: echo 'Stopped'; break;
	case 1: echo 'Running'; break;
	case 2: echo 'Crashed'; break;
	} ?><br/>

<? if ( $status == 2 ){ ?>
  <p>The slideshow daemon crashed. Please follow these steps: </p>
  <ol>
    <li>Download the <a href="/index.php/maintenance/coredump">coredump</a>.</li>
    <li>
      File a ticket at <a href="http://sidvind.com:8000/slideshow">http://sidvind.com:8000/slideshow</a>.
      <ul>
        <li>Include the latest entries from the log (below).</li>
        <li>Attach the coredump.</li>
        <li>(You can skip most of the fields in ticket properties)</li>
      </ul>
    </li>
    <li>Go bug <a href="mailto:ext@sidvind.com">ext</a> about it.</li>
    <li><a href="/index.php/maintenance/forcestart">Force restart</a>.</li>
  </ol>
<? } ?>

  <h2>Log</h2>

<? foreach ( $log as $item ){ ?>
  <div class="item log_<?=$item['severity']?>">
	<?=$item['content']?>

  </div>
<? } ?>

  <h2>Menu</h2>

  <ul>
<? if ( $status == 0 ) { ?>
    <li><a href="/index.php/maintenance/start">Start daemon</a></li>
<? } ?>
<? if ( $status == 1 ) { ?>
    <li><a href="/index.php/maintenance/stop">Stop daemon</a></li>
<? } ?>
    <li><a href="/index.php/maintenance/ping">Ping daemon</a></li>
  </ul>
