<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 *
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>

	<div id="content">

<? if ( $code == UPLOAD_ERROR ){ ?>
		<h1>Upload error</h1>
		<p><?=$message?></p>
<? } else if ( $code == EXECUTABLE_ERROR ){ ?>
		<h1>Daemon error</h1>
		<p><?=$message?></p>
<? } else if ( $code == XQUERY_ERROR ){ ?>
		<h1>xquery error <?=$rc?></h1>
		<p><?=$message?></p>
		<p><pre><?=$stdout?></pre></p>
<? } else if ( $code == FILE_NOT_FOUND ){ ?>
		<h1>File not found</h1><br/>
<? } else { ?>
		<h1>Unknown error</h1>
		<p><?=$message?></p>
<? } ?>

	</div>
