.mono {
	font-family:	monospace;
	background:	#ccc;
	padding:	5px;
}

#motd {
	border:		3px solid red;
	text-align:	center;
	padding:	1em;
}

#breadcrumb {
	font-size: 0.3em;
	color: #aaa;
}

#breadcrumb a {
	color: #aaa;
}

#menu {
	font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;

	padding: .25em 0;
	border-bottom: 1px solid black;
}

#menu :link, #menu :visited {
	padding: .25em 14px .25em 30px;
	margin: 0;
	text-decoration: none;
	background: white;
	border: 1px solid black;
}

#menu .menu_main {
	background: white url('/static/icon/images.png') no-repeat 10% 50%;
}

#menu .menu_slides {
	background: white url('/static/icon/picture_add.png') no-repeat 10% 50%;
}

#menu .menu_video {
	background: white url('/static/icon/film.png') no-repeat 10% 50%;
}

#menu .menu_queues {
	background: white url('/static/icon/folder.png') no-repeat 10% 50%;
}

#menu .menu_maintenance {
	background: white url('/static/icon/wrench.png') no-repeat 10% 50%;
}

#menu li :hover, #menu li :active {
	color: #00f;
}

#menu .selection :link, #menu .selection :visited {
	border-bottom: 1px solid white;
}

#menu a {
	color: #000;
}

#menu .first {
	padding-left: 10px;
}


#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

#menu li {
	display: inline;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

#menu h2 {
	display: none;
}

.daemonstatus {
	font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
	float: right;
	padding: .25em 20px .10em 20px;
	margin: 0;
	white-space: nowrap;
	background: white;
	border: 1px solid black;
}

#content {
	clear:both;
	background: white;
	margin: 0;
	padding: 10px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.queuewrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 0px 10px 10px 10px;
}

.queuewrapper .title {
	margin: 0 0 0 10px;
	padding: 0 7px;
	background: white;
	position: relative; top: -10px;
	display: inline;
	font-size: 0.9em;
	font-family: sans-serif;
}

.queuewrapper .title a {
    color: #00e;
}

.queue {
	float: left;
	width: 100%;
	min-height: 50px;
}

.queue.hover {
	background: #ccc;
}

.slide {
	float: left;
	
	margin: 0;
	margin-right: 10px;
	padding: 0;
	border:1px solid #aaa;
}

.slide img {
    cursor:		move;
    margin: 0;
    padding: 0;
}

.slide .menu {
	margin: 0;
	padding: 5px;

	font-size: 0.7em;
	font-family: sans-serif;
}

.slide .menu a {
	text-decoration: none;
	color: #00f;
}

.slide .menu a:hover {
	text-decoration: underline;
}

.slide .zoom {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/zoom.png') no-repeat center left;
}

.slide .play {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/control_play_blue.png') no-repeat center left;
}

.slide .edit {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/page_white_edit.png') no-repeat center left;
}

.slide .hide {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/picture_empty.png') no-repeat center left;
}

.slide .show {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/picture.png') no-repeat center left;
}

.slide .delete {
	padding: 2px 0px 2px 16px;
	background: transparent url('/static/icon/delete.png') no-repeat center left;
}

.slide_placeholder {
    border: 3px dashed #666;
    float: left;
    height: 227px;
    width: 200px;
}

h1, h2 {
	margin: 0;
	text-shadow: #bbb 1px 1px 1px;
}

#log .fatal {
		color: red;
		font-weight: bold;
}

#log .warning {
		color: yellow;
		font-weight: bold;
}

#delete_dialog {
    text-align: right;
}
