<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
	<link rel="stylesheet" href="/static/css/config.css" type="text/css" media="screen" />
	<script type="text/javascript">

		function update_browserstring(){
		    provider = $("input[name='Database.Provider']").val();
		    username = $("input[name='Database.Username']").val();
		    password = $("input[name='Database.Password']").val();
		    hostname = $("input[name='Database.Hostname']").val();
		    name     = $("input[name='Database.Name']").val();
		    
		    /* build credential-part of the browserstring */
		    credential = "";
		    if ( username != "" ){
			credential = username;
			if ( password != "" ){ 
			    credential += ":" + '*'.repeat(password.length);
			}
			credential += "@";
		    }

		    /* append a / to hostname if specified */
		    if ( hostname != "" ){
			hostname += "/";
		    }

		    $('.browserstring').html(provider + "://" + credential + hostname + name);
		}

		$(document).ready(function() {
		    update_browserstring();

		    $(".browserblur").change(function(){
			update_browserstring();
		    });
		});
	</script>
</head>

<body>
	<h2>Configuration</h2>

	<div class="conf">
		<form id="form" method="post" action="/maintenance/config/save">
			<py:for each="group in settings">
			  <py:if test="not group.hidden">
				<fieldset title="${group.name}">
					<legend>${group.name}</legend>
					<p py:if="group.description">${Markup(group.description)}</p>
					
					<py:for each="item in group">
						<label for="${group.name}.${item.name}">
							${item.title}
							<py:choose test="hasattr(item, 'message')">
								<span py:when="True" class="error">${item.message}</span>
								<span py:when="False">${item.description}</span>
							</py:choose>
						</label>
						${Markup(item)}
						<br/>
					</py:for>
					
				</fieldset>
			  </py:if>
			</py:for>
			<fieldset title="Environmental variables">
				<legend>Environmental variables</legend>
				<p>
					Place each variable in the form key=value with each variable
					on a separate line. Note that SLIDESHOW_ will be prepended
					to each variable to prevent abuse.
				</p>
				<textarea name="Env" class="wide"><py:for each="k,v in settings['Env'].items()">${k}=${v}${Markup("\n")}</py:for></textarea>
			</fieldset>
			<input type="submit" value="Save" />
		</form>
	</div>
		
</body>

</html>
