<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 *
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>

	<div id="content">
	
		<div id="breadcrumb">
			<h2><a href="<?=href()?>">Slideshow</a> &gt; <a href="<?=href('bins')?>">Manage bins</a> &gt; Delete '<?=$name?>'?</h2>
		</div>
		
		<p>Are you want to delete the bin '<b><?=$name?></b>' and move all slides to 'Unsorted'? . <a href="<?=href('bins', 'delete', $id, '?confirm')?>">yes</a> / <a href="<?=href('bins')?>">no</a></p>
		  		
	</div>
