<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 *
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>
		<h1>Welcome</h1>
		
		<p>Slideshow is an application for showing text and images in a loop on monitors and projectors. It is not meant for situations where interactive control is required, but for when the content is continuously looping for a long time. The content is updated through a webgui. The application is split into two packages, the backend and frontend. The backend is written in C++ and OpenGL and the frontend uses PHP and MySQL. Currently the frontend is very GNU/Linux specific and will not run on any other platform. It is however meant to be as platform independent as possible, as long as it handles OpenGL.</p>
		<p>Proceed to <a href="/index.php/install/step/0"> installation</a>.</p>
