<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
</head>

<body>
	<div id="breadcrumb">
		<h2><a href="/">Slideshow</a> &gt; Maintenance</h2>
	</div>
	
	<h2>Menu</h2>
	
	<ul>
		<li><a href="/maintenance/start">Start daemon</a></li>
		<li><a href="/maintenance/ping">Ping daemon</a></li>
		<li><a href="/maintenance/debug/kill_mplayer">Kill mplayer</a></li>
		<li><a href="/maintenance/config">Configuration</a></li>
	</ul>

	<h2>Debug</h2>
	
	<div id="log">
	  <p>CWD: <br/>CMD: </p>
	</div>
	
	<ul>
		<li><a href="/maintenance/dumpqueue">Dump queue</a></li>
	</ul>
	
	<h2>Log</h2>
	
	<div id="log">
		<p>
			<py:for each="line in log">
				${line}<br/>
			</py:for>
		</p>
	</div>
	
	<h2>Activity</h2>
	
	<div id="log">
	</div>
	
</body>

</html>
