<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
	<script type="text/javascript">
		function query_log(id){
			$.get('/maintenance/ajax/log', function(data) {
				$(id).html(data);
				//elem = document.getElementById(id);
				//elem.innerHTML = data;
			});
		}
		window.setInterval("query_log('#log')", 5000);
	</script>
</head>
<?python import daemon ?>

<body>
	<div id="breadcrumb">
		<h2><a href="/">Slideshow</a> &gt; Maintenance</h2>
	</div>
	
	<py:if test="state == daemon.CRASHED">
		<p>The slideshow daemon crashed. Please follow these steps: </p>
		<ol>
			<li>Download the <a href="/maintenance/coredump">coredump</a>.</li>
			<li>
				File a ticket at <a href="http://sidvind.com:8000/slideshow">http://sidvind.com:8000/slideshow</a>.
				<ul>
					<li>Include the latest entries from the log with debug entries.</li>
					<li>Attach the coredump.</li>
					<li>(You can skip most of the fields in ticket properties)</li>
				</ul>
			</li>
			<li>Go bug <a href="mailto:ext@sidvind.com">ext</a> about it.</li>
			<li><a href="/maintenance/forcestart">Force restart</a>.</li>
		</ol>
	</py:if>
	
	<h2>Menu</h2>
	
	<ul>
		<li py:if="state == daemon.STOPPED"><a href="/maintenance/start">Start daemon</a></li>
		<li py:if="state == daemon.RUNNING"><a href="/maintenance/stop">Stop daemon</a></li>
		<li><a href="/maintenance/ping">Ping daemon</a></li>
		<li><a href="/maintenance/debug/kill_mplayer">Kill mplayer</a></li>
		<li><a href="/maintenance/config">Configuration</a></li>
	</ul>

	<h2>Debug</h2>
	
	<div id="debug">
	  <p>CWD: <br/>CMD: </p>
	</div>
	
	<ul>
		<li><a href="/maintenance/dumpqueue">Dump queue</a></li>
	</ul>
	
	<h2>Log</h2>
	
	<div id="log">
		<p>
			<py:for each="line in log">
				${Markup(line)}<br/>
			</py:for>
		</p>
	</div>
	
	<h2>Activity</h2>
	
	<div id="log">
	</div>
	
</body>

</html>
