<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
	<title>Upload slides</title>
</head>

<body>
	<div id="breadcrumb">
		<h2><a href="/">Slideshow</a> &gt; Edit slide</h2>
	</div>

	<h2>Edit</h2>
	<form action="/slides/submit" method="post" accept-charset="utf-8">
		<input type="hidden" name="assembler" value="text" />
		<input type="hidden" name="id" value="${id}" />
		<input type="hidden" name="context" value="edit" />
		<fieldset>
			<label for="slide-title">Title</label><br/>
			<input type="text" id="slide-title" name="title" size="70" value="${preview.get('title', '')}" /><br/>
			<label for="slide-content">Content</label><br/>
			<textarea id="slide-content" name="content" cols="60" rows="15">${preview.get('content', '')}</textarea><br/>
			<br/>

			<input type="submit" name="submit" value="preview" />
			<input type="submit" name="submit" value="upload" /><br/>
			
			<?python import urllib ?>
			<img src="/slides/preview?${urllib.urlencode(preview)}" py:if="preview"/>
		</fieldset>
	</form>

</body>

</html>