<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
	<title>Upload slides</title>
</head>

<body>
	<div id="breadcrumb">
		<h2><a href="/">Slideshow</a> &gt; Upload slide</h2>
	</div>

	<h2>Image</h2>
	<form action="/slides/submit" method="post" enctype="multipart/form-data">
		<input type="hidden" name="assembler" value="image" />
		<fieldset>
			<p>Using this option you can upload an existing image. The image will be scaled to fit the screen but will keep the aspect ratio.</p>
			<input type="file" id="filename" name="filename" accept="image/*" />
			<input type="submit" value="Upload" />
		</fieldset>
	</form>

	<h2>Text</h2>
	<form action="/slides/submit" method="post" accept-charset="utf-8">
		<input type="hidden" name="assembler" value="text" />
		<fieldset>
			<p>Using this option you can create new slides with text only. The text will be applied to the predefined background if specified in the configuration.</p>
			<label for="slide-title">Title</label><br/>
			<input type="text" id="slide-title" name="title" size="70" value="${preview.get('title', '')}" /><br/>
			<label for="slide-content">Content</label><br/>
			<textarea id="slide-content" name="content" cols="60" rows="15">${preview.get('content', '')}</textarea><br/>
			<br/>

			<input type="submit" name="submit" value="preview" />
			<input type="submit" name="submit" value="upload" /><br/>
			
			<?python import urllib ?>
			<img width="800" height="600" src="/slides/preview?${urllib.urlencode(preview)}" py:if="preview"/>
		</fieldset>
	</form>

</body>

</html>