<?
/**
 * This file is part of Slideshow.
 * Copyright (C) 2008 David Sveningsson <ext@sidvind.com>
 *
 * Slideshow is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * Slideshow is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Slideshow.  If not, see <http://www.gnu.org/licenses/>.
 */
?>

	<div id="content">

		<div id="breadcrumb">
			<h2><a href="<?=href()?>">Slideshow</a> &gt; Upload slide</h2>
		</div>

		<h2>Image</h2>

		<form action="<?=href('slides', 'submit_image')?>" method="post" enctype="multipart/form-data">
			<fieldset>
				<p>Using this option you can upload an existing image. The image will be scaled to fit the screen but will keep the aspect ratio.</p>
				<input type="file" id="filename" name="filename" accept="image/*" />
				<input type="submit" value="Upload" />
			</fieldset>
		</form>

		<h2>Text</h2>

		<form action="<?=href('slides', 'upload')?>" method="post" accept-charset="utf-8">
			<fieldset>
				<p>Using this option you can create new slides with text only. The text will be applied to the predefined background if specified in the configuration.</p>
<?	foreach ( $fields as $field ){
		switch ( $field->type() ){
			case Field::type_text: ?>
				<label for="content"><?=$field->title()?></label><br/>
				<input type="text" id="<?=$field->name()?>" name="<?=$field->name()?>" size="70" value="<?=$data[$field->name()]?>" /><br/>
<?				break;
			case Field::type_textarea: ?>
				<label for="content"><?=$field->title()?></label><br/>
				<textarea id="<?=$field->name()?>" name="<?=$field->name()?>" cols="60" rows="15"><?=$data[$field->name()]?></textarea><br/>
<?				break;
		}
	}
?>
				<br/>
				<input type="submit" name="submit" value="Preview" />
				<input type="submit" name="submit" value="Upload" /><br/>
<? if ( $image != NULL ) { ?>
				<img width="800" height="600" src="<?=$image?>" />
<? } ?>
			</fieldset>
		</form>
	</div>