<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
	<title>Upload slides</title>
</head>

<body>
	<div id="breadcrumb">
		<h2><a href="/">Slideshow</a> &gt; Edit slide</h2>
	</div>

	<h2>Edit</h2>
	<form action="/slides/submit" method="post" enctype="multipart/form-data" accept-charset="utf-8">
		<input type="hidden" name="assembler" value="text" />
		<input type="hidden" name="id" value="${id}" />
		<input type="hidden" name="context" value="edit" />
		${Markup(assembler.render(content=preview))}
	</form>

</body>

</html>