<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
	<title>Upload slides</title>
</head>

<body>
	<h2>Edit slide ${id}</h2>
	<?python import time ?>
	<p>
		Last updated ${time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(slide.timestamp))}.<br/>
		Update url: <a href="/slides/update/${id}">/slides/update/${id}</a>.
	</p>

	<form action="/slides/submit" method="post" enctype="multipart/form-data" accept-charset="utf-8">
		<input type="hidden" name="id" value="${id}" />
		<xi:include href="../../lib/assembler/text.html" />
		<div py:match="assembler" id="${select('fieldset/@id')}">
			${select('fieldset/*[not(legend or @class=\'description\')]')}
		</div>
	</form>

</body>

</html>
