<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
	<script type="text/javascript" src="/static/js/flowplayer-3.2.4.min.js"></script>
</head>

<body>
	<h2>${title}</h2>
	
	<py:choose test="stream">
		<py:when test="None">
			<p>Preview is not yet available.</p>
		</py:when>
		<py:otherwise>
			<a id="player" style="display:block;width:425px;height:300px;" href="${stream}"></a> 
			<script type="text/javascript">
				flowplayer("player", "/static/flowplayer-3.2.5.swf", {
					clip:{
						autoPlay: true,
						autoBuffering: true
					}
				});
			</script>
		</py:otherwise>
	</py:choose>
</body>

</html>
