<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
	<title>Upload slides</title>
</head>

<body>
	<div id="breadcrumb">
		<h2><a href="/">Slideshow</a> &gt; Upload slide</h2>
	</div>
	
	<py:for each="assembler in assemblers">
		<form action="/slides/submit" method="post" enctype="multipart/form-data" accept-charset="utf-8">
			${Markup(assembler.render(content=preview, context="upload"))}
		</form>
	</py:for>

</body>

</html>
