<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

<head>
</head>

<body>
	<h2>Current slides</h2>
	
	<?python empty_queue = active.id == 0 or len(active) == 0 ?>
	<div id="empty_notice" class="notice" py:attrs="{'style': 'display:' + (empty_queue and 'block' or 'none')}">
		<script type="text/javascript">
			document.write("The current active queue is empty. You can create some slides and move them into the active queue.");
		</script>
		<noscript py:if="len(active) == 0">
			The current active queue is empty. You can create some slides and move them into the active queue.
		</noscript>
	</div>
	
	<!--! These br's is to force linebreaks in non-graphics browsers like links -->
	<br style="display:none" />
	<br style="display:none" />
	
	<py:for each="queue in queues">
		<div class="queuewrapper">
			<span class="title">
				${queue.name}
				<py:if test="queue.id > 0">
					(
					<py:choose test="queue.id == active.id">
						<py:when test="True">active</py:when>
						<py:when test="False"><a href="/queue/activate/${queue.id}">set as active</a></py:when>
					</py:choose>,
					<py:choose test="queue.loop">
						<py:when test="True"><a href="/queue/loop/${queue.id}/0">Disable looping</a></py:when>
						<py:when test="False"><a href="/queue/loop/${queue.id}/1">Enable looping</a></py:when>
					</py:choose>
					)
				</py:if>
			</span><br/>
			
			<div class="queue" id="queue_${queue.id}">
				<py:for each="slide in queue.slides">
					<div class="slide" id="slide_${slide.id}">
						<img src="/slides/show/${slide.id}/200/200" />
						<div class="menu">
							<span class="zoom" py:if="slide.assembler.is_viewable()"><a href="/slides/show/${slide.id}">Full</a></span>
							<span class="edit" py:if="slide.assembler.is_editable()"><a href="/slides/edit/${slide.id}">Edit</a></span>
							<span class="hide" py:if="slide.active"><a href="/slides/deactivate/${slide.id}">Hide</a></span>
							<span class="show" py:if="not slide.active"><a href="/slides/activate/${slide.id}">Show</a></span>
							<span class="delete"><a href="/slides/delete/${slide.id}">Delete</a></span>

							<noscript>
								<form action="/slides/move/${slide.id}" method="post">
								<select name="to_bin">
									<option py:for="x in queues" value="${x.id}">${queue.name}</option>
								</select>
								<input type="submit" value="Move" />
							</form>
							</noscript>
						</div>
					</div>
				</py:for>
			</div>
			<br style="clear: both;" />
		</div>
	</py:for>
	
	<script type="text/javascript">
		var notice_visible = ${len(active) == 0 and 'true' or 'false'};
		<py:for each="queue in queues">
			$$("#queue_${queue.id}").sortable({
				connectWith: [ ${', '.join(['"#queue_%d"' % q.id for q in queues])} ],
				placeholder: 'slide_placeholder',
				tolerance: "pointer",
				
				update: function($$e, $$ui){
					var list = $$(this).sortable('toArray');
					$$.ajax({
						type: "POST",
						url: "/slides/ajax/move",
						data: "queue=" + $$(this).attr('id') + "${Markup('&amp;')}slides=" + list
					});
					
					<py:if test="queue.id == active.id">
						var n = list.length;
						if ( notice_visible ${Markup('&amp;&amp;')} n ${Markup('&gt;')} 0 ){
							notice_visible = false;
							$("#empty_notice").fadeOut("slow");
						}
						if ( !notice_visible ${Markup('&amp;&amp;')} n == 0 ){
							notice_visible = true;
							$("#empty_notice").fadeIn("slow");
						}
					</py:if>
					 
				}
			});
		</py:for>
	</script>
	
</body>

</html>
