<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="../index.html" />

	<head>
		<script src="/static/js/sorting.js" type="text/javascript"></script>
		<script type="text/javascript">
			var queue = [ ${', '.join(['"#%s"' % q.div for q in queues])} ];
			var active = "${'#' + active.div}";
			var notice_visible = ${len(active) == 0 and 'true' or 'false'};
		</script>
	</head>

	<body>
	<h2>Current slides</h2>
	
	<?python empty_queue = active.id == 0 or len(active) == 0 ?>
	<div id="empty_notice" class="notice" py:attrs="{'style': 'display:' + (empty_queue and 'block' or 'none')}">
		The current active queue is empty. You can create some slides and move them into the active queue.
	</div>

	<div id="delete_dialog" title="Are you sure you want to delete ...?" style="display:none;">
		<img src="" alt="" />
		<button id="delete_confirm">Delete</button> <button id="delete_cancel">Cancel</button>
	</div>
	
	<py:for each="queue in queues">
		<div class="queuewrapper">
			<span class="title">
				${queue.name}
				<py:if test="queue.id > 0">
					(
					<py:choose test="queue.id == active.id">
						<py:when test="True">active</py:when>
						<py:when test="False"><a href="/queue/activate/${queue.id}">set as active</a></py:when>
					</py:choose>,
					<py:choose test="queue.loop">
						<py:when test="True"><a href="/queue/loop/${queue.id}/0">Disable looping</a></py:when>
						<py:when test="False"><a href="/queue/loop/${queue.id}/1">Enable looping</a></py:when>
					</py:choose>
					)
				</py:if>
			</span><br/>
			
			<div class="queue" id="${queue.div}">
				<py:for each="slide in queue.slides">
					<div class="slide" id="slide_${slide.id}">
						<img src="/slides/show/${slide.id}/200/200" />
						<div class="menu">
							<span class="zoom" py:if="slide.assembler.is_viewable()"><a href="/slides/show/${slide.id}">Full</a></span>
							<span class="play" py:if="slide.assembler.is_playable()"><a href="/slides/play/${slide.id}">Play</a></span>
							<span class="edit" py:if="slide.assembler.is_editable()"><a href="/slides/edit/${slide.id}">Edit</a></span>
							<span class="hide" py:if="slide.active"><a href="/slides/deactivate/${slide.id}">Hide</a></span>
							<span class="show" py:if="not slide.active"><a href="/slides/activate/${slide.id}">Show</a></span>
							<span class="delete"><a href="#" onclick="slide_delete(${slide.id});">Delete</a></span>
						</div>
					</div>
				</py:for>
			</div>
			<br style="clear: both;" />
		</div>
	</py:for>
</body>

</html>
